@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Błąd";
}
<div>
    <h1 class="text-danger">@Errors.Error</h1>
    <h2 class="text-danger">@Errors.RequestError</h2>
    <img class="img-fluid" src="~/Images/error.jpg" style="max-width: 500px;" />
</div>
