body {
    background-color: #2a2a2e;
}

h1, h2, h4, h5, label, footer, hr, dt {
    color: #ffffec;
    border-color: #ffffec;
}

.movie-entry > div, h1, h2, h3 {
    color: #ffffec;
    text-align: left;
}

.showing-button {

}

.showing-time {
}

.invalid-feedback {
    display: initial;
}
