body {
    background-color: #2a2a2e;
}

nav {
    box-shadow: 0 2px 10px 1px rgba(22, 140, 179, 0.7);
}

h1, h2, h4, h5, h6, label, hr, dt, tr, tbody, table {
    color: #ffffec;
    border-color: #ffffec;
}

.table tr {
    border-top: 1px solid #dee2e6;
}

.table td {
    border-top: none;
}

footer {
    color: #656565;
}

.movie-entry > div, h1, h2, h3 {
    color: #ffffec;
    text-align: left;
}

.invalid-feedback {
    display: initial;
}

.room-seat {
    margin: 2px;

    display: inline-block;
    position: relative;

    max-width: 30px;
    max-height: 30px;

    width: 100%;

    text-align: center;
}

.room-seat::after {
    content: "";
    height: 0;
    padding-bottom: 100%;
    display: block;
}

.seat-free {
    background-color: #228113;
    box-shadow: 0 0 3px 1px rgba(21, 194, 114, 0);
    transition: background-color, box-shadow 0.1s ease-in-out 0s;
    color: rgba(0,0,0,0);
}

    .seat-free:hover {
        background-color: #2ba718;
        box-shadow: 0 0 3px 1px rgba(21, 194, 114, 0.4);
        cursor: pointer;
        color: black;
    }

.seat-taken {
    background-color: #717171;
    color: rgba(0,0,0,0);
}

.seat-selected {
    background-color: #cc1212;
    color: #ccc;
    box-shadow: 0 0 3px 1px rgba(239, 165, 157, 0.5);
    transition: background-color, box-shadow 0.1s ease-in-out 0s;
}

    .seat-selected:hover {
        background-color: #ff0d0d;
        box-shadow: 0 0 5px 2px rgba(228, 30, 30, 0.8);
        cursor: pointer;
    }

.room-row {
    display: flex;

    align-items: center;
    justify-content: center;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
