@using CinemaApp.Models
@using CinemaApp.Resources
@model IEnumerable<DateTime>

@{ 
    ViewBag.Title = Strings.MoviesList;
}

<div class="row mb-3">
@{ int i = 0; }
@foreach (var day in Model)
{
    @Ajax.ActionLink(day.DayOfWeek.ToString(), "List", new { day = i },
            new AjaxOptions
            {
                UpdateTargetId = "movieList",
                InsertionMode = InsertionMode.Replace,
                HttpMethod = "GET"
            },
            new { @class = "btn btn-outline-info mr-1 mr-md-3 mt-1" })
    i++;
}
</div>
<div class="row" id="movieList">
    @{Html.RenderAction("List");}
</div>

@section Scripts {
    @Scripts.Render("~/bundles/ajax");
}
