@using System.Globalization
@{ 
    ViewBag.Title = Strings.MoviesList;
}

@*<div class="showing-date-list row mb-3 mb-md-5 mr-1 ml-1">
@{
    var date = DateTime.Now.Date;
    const int num_of_buttons = 7;
}

@for(int i = 0; i < num_of_buttons; i++)
{
    var button_string = date.ToString("dddd\n dd.MM");

    @Ajax.ActionLink(button_string, "List", new { day = i },
            new AjaxOptions
            {
                UpdateTargetId = "movieList",
                InsertionMode = InsertionMode.Replace,
                HttpMethod = "GET",
            },
            new { @class = "showing-date-button btn btn-outline-info mr-1 mr-md-3 mt-1" });

    date = date.AddDays(1);
}
</div>*@
@Html.React("DayPicker", new { sourceUrl = Url.Action("List")})
<div class="mt-4" id="movieList">
    @{Html.RenderAction("List");}
</div>

@section Scripts {
    @Scripts.Render("~/bundles/dayPicker")
    @Html.ReactInitJavaScript()
}
