@using CinemaApp.Models
@model MovieListViewModel

@{ 
    ViewBag.Title = AppStrings.MoviesList;
}

<div class="row mb-3">
@foreach(var day in Model.days)
{
    <div class="btn btn-outline-info mr-1 mr-md-3 mt-1">@day.DayOfWeek</div>
}
</div>
<div class="row">
@foreach(var movie in Model.movies)
{
    <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-4 movieEntry">
        <img class="img-fluid" src="@movie.PosterUrl" />
        <div>@movie.Title</div>
    </div>
}
</div>
