@model ReservationFlowViewModel

@{ 
    ViewBag.Title = Strings.Reservation;
}

<div id="place-selector" class="content">
    @Html.React("ReservationFlow", Model)
</div>

@section Scripts {
    @Scripts.Render("~/bundles/reservationFlow")
    @Html.ReactInitJavaScript()
}
