@{
    ViewBag.Title = Strings.ConfirmEmail;
}

<h2>@ViewBag.Title</h2>
<div>
    <p>
        @Strings.ConfirmEmailSuccess
    </p>
    <p>
        @Html.ActionLink(Strings.Login, "Login", "Account", routeValues: null, htmlAttributes: new { @class="btn btn-primary" })
    </p>
</div>
