@{
    ViewBag.Title = Strings.ResetPassword;
}

<h2>@Strings.ResetPasswordSuccess</h2>
<div>
    <p>
        @Html.ActionLink(Strings.Login, "Login", "Account", routeValues: null, htmlAttributes: new { @class="btn btn-primary" })
    </p>
</div>
